@charset "UTF-8";
@import url(./_responsive.scss);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import url(./_responsive.scss);
@import url(./_responsive.scss);
@import url(./_responsive.scss);
@import url(/_responsive.scss);
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/espacio.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  color: whitesmoke;
  font-family: 'Uncial Antiqua', cursive;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

video {
  position: relative;
  margin-left: 25%;
  height: 70vh;
  width: 100vh;
}

.fondo-fuego {
  background-image: url("/Arcana27-04/img/pexels-adesh-seethala-6698193.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fondo-tierra {
  background-image: url("/Arcana27-04/img/bosque1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.fondo-aire {
  background-image: url("/Arcana27-04/img/aire.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-trans {
  background-color: rgba(0, 0, 0, 0.507) !important;
  border-radius: 8px !important;
}

.fonddd {
  background-color: rgba(15, 26, 9, 0.445);
  border: 1px solid rgba(41, 104, 4, 0.39) !important;
  -webkit-box-shadow: 0 8px 32px 0 rgba(53, 78, 53, 0.301) !important;
          box-shadow: 0 8px 32px 0 rgba(53, 78, 53, 0.301) !important;
}

.fonddd:hover {
  background-color: rgba(5, 5, 5, 0.651);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fondo-agua {
  background-image: url("/Arcana27-04/img/agua.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.txt-blk {
  color: black;
}

.card {
  margin: 6px;
  background: #073f504f;
  color: black;
  -webkit-box-shadow: 0 8px 32px 0 rgba(19, 20, 20, 0.37);
          box-shadow: 0 8px 32px 0 rgba(19, 20, 20, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 7px;
  border: 1px solid rgba(5, 5, 5, 0.18);
}

h1 {
  color: whitesmoke;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10%;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.contenedor {
  position: relative;
  margin-top: 3%;
  margin-left: 20%;
  height: 70vh;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .contenedor {
    overflow: hidden;
  }
}

.portal {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  cursor: pointer;
}

.portal:nth-child(4) {
  background-image: url("/Arcana27-04/img/portalAire.jpg");
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 13px;
  left: -41px;
  -webkit-animation: flotar 11s infinite linear;
          animation: flotar 11s infinite linear;
  animation-direction: reverse;
  -webkit-box-shadow: 0 0 10px #74f1eb, 0 0 20px #74f1eb, 0 0 40px #74f1eb, 0 0 60px #74f1eb, 0 0 80px #74f1eb, 0 0 100px #74f1eb;
          box-shadow: 0 0 10px #74f1eb, 0 0 20px #74f1eb, 0 0 40px #74f1eb, 0 0 60px #74f1eb, 0 0 80px #74f1eb, 0 0 100px #74f1eb;
  position: fixed;
}

@media screen and (max-width: 330px) {
  .portal:nth-child(4) {
    top: 182px;
    left: 27px;
  }
}

@media screen and (min-width: 330px) {
  .portal:nth-child(4) {
    top: 168px;
    left: 34px;
  }
}

@media screen and (min-width: 355px) {
  .portal:nth-child(4) {
    top: 170px;
    left: 34px;
  }
}

.portal:nth-child(1) {
  background-image: url("/Arcana27-04/img/fuego3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  left: 90%;
  top: 11px;
  -webkit-animation: flotar 11s infinite linear;
          animation: flotar 11s infinite linear;
  -webkit-box-shadow: 0 0 10px #e94707, 0 0 20px #c23f0b, 0 0 40px #e9c007, 0 0 60px #d8c519, 0 0 80px #e9c707, 0 0 100px #f7591a;
          box-shadow: 0 0 10px #e94707, 0 0 20px #c23f0b, 0 0 40px #e9c007, 0 0 60px #d8c519, 0 0 80px #e9c707, 0 0 100px #f7591a;
  position: fixed;
}

@media screen and (max-width: 330px) {
  .portal:nth-child(1) {
    left: 214px;
    top: 182px;
  }
}

@media screen and (min-width: 330px) {
  .portal:nth-child(1) {
    left: 265px;
    top: 169px;
  }
}

@media screen and (min-width: 355px) {
  .portal:nth-child(1) {
    left: 308px;
    top: 170px;
  }
}

.portal:nth-child(2) {
  background-image: url("/Arcana27-04/img/agua.jpg");
  left: 90%;
  bottom: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: flotar 11s infinite linear;
          animation: flotar 11s infinite linear;
  animation-direction: reverse;
  -webkit-box-shadow: 0 0 10px #5286d4, 0 0 20px #2a61b3, 0 0 40px #0f3266, 0 0 60px #043275, 0 0 80px #578fe4, 0 0 100px #043275;
          box-shadow: 0 0 10px #5286d4, 0 0 20px #2a61b3, 0 0 40px #0f3266, 0 0 60px #043275, 0 0 80px #578fe4, 0 0 100px #043275;
  position: fixed;
}

@media screen and (max-width: 330px) {
  .portal:nth-child(2) {
    left: 219px;
    bottom: 130px;
  }
}

@media screen and (min-width: 330px) {
  .portal:nth-child(2) {
    left: 263px;
    bottom: 170px;
  }
}

@media screen and (min-width: 355px) {
  .portal:nth-child(2) {
    left: 308px;
    bottom: 170px;
  }
}

.portal:nth-child(3) {
  background-image: url("/Arcana27-04/img/bosque1.jpg");
  left: -39px;
  bottom: 14px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: flotar 11s infinite linear;
          animation: flotar 11s infinite linear;
  -webkit-box-shadow: 0 0 10px #036d15, 0 0 20px #129127, 0 0 40px #2acf09, 0 0 60px #03c50d, 0 0 80px #2ae611, 0 0 100px #0ff008;
          box-shadow: 0 0 10px #036d15, 0 0 20px #129127, 0 0 40px #2acf09, 0 0 60px #03c50d, 0 0 80px #2ae611, 0 0 100px #0ff008;
  position: fixed;
}

@media screen and (max-width: 330px) {
  .portal:nth-child(3) {
    left: 31px;
    bottom: 130px;
  }
}

@media screen and (min-width: 330px) {
  .portal:nth-child(3) {
    left: 46px;
    bottom: 170px;
  }
}

@media screen and (min-width: 355px) {
  .portal:nth-child(3) {
    left: 36px;
    bottom: 170px;
  }
}

@-webkit-keyframes flotar {
  from {
    -webkit-transform: rotate(0deg) translate(-25px) rotate(0deg);
            transform: rotate(0deg) translate(-25px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-25px) rotate(-360deg);
            transform: rotate(360deg) translate(-25px) rotate(-360deg);
  }
}

@keyframes flotar {
  from {
    -webkit-transform: rotate(0deg) translate(-25px) rotate(0deg);
            transform: rotate(0deg) translate(-25px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-25px) rotate(-360deg);
            transform: rotate(360deg) translate(-25px) rotate(-360deg);
  }
}

/*portal del centro*/
/*imagen de arcana*/
.logo2 {
  position: absolute;
  margin-left: -224px;
  height: 470px;
  width: 470px;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 330px) {
  .logo2 {
    height: 339px;
    top: -42px;
    left: 62px;
    width: 351px;
  }
}

@media screen and (min-width: 330px) {
  .logo2 {
    margin-left: -180px;
    height: 369px;
    width: 386px;
  }
}

.portalCentral {
  position: relative;
  border-radius: 50%;
  height: 430px;
  width: 15px;
  left: 47%;
  top: 0%;
  -webkit-animation: estar 5s infinite linear;
          animation: estar 5s infinite linear;
}

@media screen and (max-width: 330px) {
  .portalCentral {
    position: fixed;
    border-radius: 50%;
    height: 267px;
    width: 21px;
    left: 149px;
    top: 314px;
  }
}

@media screen and (min-width: 330px) {
  .portalCentral {
    border-radius: 50%;
    position: fixed;
    height: 318px;
    width: 23px;
    left: 179px;
    top: 254px;
  }
}

@media screen and (min-width: 355px) {
  .portalCentral {
    left: 207px;
  }
}

@-webkit-keyframes estar {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes estar {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fuego {
  0% {
    -webkit-box-shadow: 0 0 60px #e94707, 0 0 80px #c23f0b, 0 0 100px #e9c007, 0 0 120px #d8c519, 0 0 1400px #e9c707, 0 0 160px #f7591a;
            box-shadow: 0 0 60px #e94707, 0 0 80px #c23f0b, 0 0 100px #e9c007, 0 0 120px #d8c519, 0 0 1400px #e9c707, 0 0 160px #f7591a;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #d8c519, 0 0 200px #e9c707, 0 0 220px #f7591a;
            box-shadow: 0 0 180px #d8c519, 0 0 200px #e9c707, 0 0 220px #f7591a;
  }
}

@keyframes fuego {
  0% {
    -webkit-box-shadow: 0 0 60px #e94707, 0 0 80px #c23f0b, 0 0 100px #e9c007, 0 0 120px #d8c519, 0 0 1400px #e9c707, 0 0 160px #f7591a;
            box-shadow: 0 0 60px #e94707, 0 0 80px #c23f0b, 0 0 100px #e9c007, 0 0 120px #d8c519, 0 0 1400px #e9c707, 0 0 160px #f7591a;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #d8c519, 0 0 200px #e9c707, 0 0 220px #f7591a;
            box-shadow: 0 0 180px #d8c519, 0 0 200px #e9c707, 0 0 220px #f7591a;
  }
}

@-webkit-keyframes aire {
  0% {
    -webkit-box-shadow: 0 0 60px #74f1eb, 0 0 80px #74f1eb, 0 0 100px #74f1eb, 0 0 120px #74f1eb, 0 0 140px #74f1eb, 0 0 160px #74f1eb;
            box-shadow: 0 0 60px #74f1eb, 0 0 80px #74f1eb, 0 0 100px #74f1eb, 0 0 120px #74f1eb, 0 0 140px #74f1eb, 0 0 160px #74f1eb;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #74f1eb, 0 0 200px #74f1eb, 0 0 220px #74f1eb;
            box-shadow: 0 0 180px #74f1eb, 0 0 200px #74f1eb, 0 0 220px #74f1eb;
  }
}

@keyframes aire {
  0% {
    -webkit-box-shadow: 0 0 60px #74f1eb, 0 0 80px #74f1eb, 0 0 100px #74f1eb, 0 0 120px #74f1eb, 0 0 140px #74f1eb, 0 0 160px #74f1eb;
            box-shadow: 0 0 60px #74f1eb, 0 0 80px #74f1eb, 0 0 100px #74f1eb, 0 0 120px #74f1eb, 0 0 140px #74f1eb, 0 0 160px #74f1eb;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #74f1eb, 0 0 200px #74f1eb, 0 0 220px #74f1eb;
            box-shadow: 0 0 180px #74f1eb, 0 0 200px #74f1eb, 0 0 220px #74f1eb;
  }
}

@-webkit-keyframes tierra {
  0% {
    -webkit-box-shadow: 0 0 60px #03c50d, 0 0 80px #03c50d, 0 0 100px #03c50d, 0 0 120px #03c50d, 0 0 140px #03c50d, 0 0 160px #03c50d;
            box-shadow: 0 0 60px #03c50d, 0 0 80px #03c50d, 0 0 100px #03c50d, 0 0 120px #03c50d, 0 0 140px #03c50d, 0 0 160px #03c50d;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #03c50d, 0 0 200px #03c50d, 0 0 220px #03c50d;
            box-shadow: 0 0 180px #03c50d, 0 0 200px #03c50d, 0 0 220px #03c50d;
  }
}

@keyframes tierra {
  0% {
    -webkit-box-shadow: 0 0 60px #03c50d, 0 0 80px #03c50d, 0 0 100px #03c50d, 0 0 120px #03c50d, 0 0 140px #03c50d, 0 0 160px #03c50d;
            box-shadow: 0 0 60px #03c50d, 0 0 80px #03c50d, 0 0 100px #03c50d, 0 0 120px #03c50d, 0 0 140px #03c50d, 0 0 160px #03c50d;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #03c50d, 0 0 200px #03c50d, 0 0 220px #03c50d;
            box-shadow: 0 0 180px #03c50d, 0 0 200px #03c50d, 0 0 220px #03c50d;
  }
}

@-webkit-keyframes agua {
  0% {
    -webkit-box-shadow: 0 0 60px #578fe4, 0 0 80px #578fe4, 0 0 100px #578fe4, 0 0 120px #578fe4, 0 0 140px #578fe4, 0 0 160px #578fe4;
            box-shadow: 0 0 60px #578fe4, 0 0 80px #578fe4, 0 0 100px #578fe4, 0 0 120px #578fe4, 0 0 140px #578fe4, 0 0 160px #578fe4;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #578fe4, 0 0 200px #578fe4, 0 0 220px #578fe4;
            box-shadow: 0 0 180px #578fe4, 0 0 200px #578fe4, 0 0 220px #578fe4;
  }
}

@keyframes agua {
  0% {
    -webkit-box-shadow: 0 0 60px #578fe4, 0 0 80px #578fe4, 0 0 100px #578fe4, 0 0 120px #578fe4, 0 0 140px #578fe4, 0 0 160px #578fe4;
            box-shadow: 0 0 60px #578fe4, 0 0 80px #578fe4, 0 0 100px #578fe4, 0 0 120px #578fe4, 0 0 140px #578fe4, 0 0 160px #578fe4;
  }
  100% {
    -webkit-box-shadow: 0 0 180px #578fe4, 0 0 200px #578fe4, 0 0 220px #578fe4;
            box-shadow: 0 0 180px #578fe4, 0 0 200px #578fe4, 0 0 220px #578fe4;
  }
}

.logo4 {
  width: 182px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-color: #24252a;*/
}

.modal-content {
  background-color: #1f422475;
  border: 2px solid #6c6c6cb5;
  -webkit-box-shadow: 0 8px 32px 0 #23c57154;
          box-shadow: 0 8px 32px 0 #23c57154;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: white;
}

.cssbuttons-io-button {
  background: #0e280ab8;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 1.6em -0.6em #edefed;
  box-shadow: inset 0 0 1.6em -0.6em #169100a3;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  -webkit-box-shadow: 0.1em 0.1em 0.6em 0.2em #169100a3;
          box-shadow: 0.1em 0.1em 0.6em 0.2em #169100a3;
  right: 0.3em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: #169100a3;
}

.cssbuttons-io-button:hover .icon svg {
  -webkit-transform: translateX(0.1em);
          transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.blog-container {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif !important;
  font-weight: 100;
  margin: 48px auto;
  width: 20rem;
}

@media screen and (min-width: 480px) {
  .blog-container {
    width: 28rem;
  }
}

@media screen and (min-width: 767px) {
  .blog-container {
    width: 40rem;
  }
}

@media screen and (min-width: 959px) {
  .blog-container {
    width: 50rem;
  }
}

.blog-container a {
  color: #4d4dff;
  text-decoration: none;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.blog-container a:hover {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.blog-cover {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
          box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}

.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}

.blog-author h3::before,
.blog-author--no-cover h3::before {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

.blog-author h3 {
  color: #fff;
  font-weight: 100;
}

.blog-author--no-cover h3 {
  color: #999999;
  font-weight: 100;
}

.blog-body {
  margin: 0 auto;
  width: 80%;
}

.video-body {
  height: 100%;
  width: 100%;
}

.blog-title h1 a {
  color: #333;
  font-weight: 100;
}

.blog-summary p {
  color: #4d4d4d;
}

.blog-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.blog-tags li + li {
  margin-left: .5rem;
}

.blog-tags a {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}

.blog-footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}

.blog-footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row wrap;
          flex: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0;
}

.blog-footer li:first-child {
  margin-right: auto;
}

.blog-footer li + li {
  margin-left: .5rem;
}

.blog-footer li {
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}

.blog-footer li a {
  color: #999999;
}

.comments {
  margin-right: 1rem;
}

.published-date {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 0 .5rem;
}

.numero {
  position: relative;
  top: -0.5rem;
}

.icon-star,
.icon-bubble {
  fill: #999999;
  height: 24px;
  margin-right: .5rem;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  width: 24px;
}

.icon-star:hover,
.icon-bubble:hover {
  fill: #ff4d4d;
}

.form_card {
  background: rgba(0, 0, 0, 0.274);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 2px solid rgba(228, 109, 12, 0.527);
  padding: 30px;
  color: white;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .form_card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
  }
}

.btn-tamaño {
  width: 30% !important;
  background-color: #fe6a18;
  border: black;
}

.form-signin {
  padding-top: 44px;
}

@media screen and (max-width: 768px) {
  .fix1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .fix2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .fix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .fix3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
}

@media screen and (min-width: 600px) {
  .fix3 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .fix4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
/*# sourceMappingURL=main.css.map */