@import url(./_responsive.scss);
body{
    margin: 0;
    padding: 0;
    background-image: url('../img/espacio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
footer {
    color: whitesmoke;
    font-family: 'Uncial Antiqua', cursive;
    position: relative;
    justify-content: center;
    text-align: center;
}
video{
    position: relative;
    margin-left: 25%;
    height: 70vh;
    width: 100vh;
}

.fondo-fuego{
    background-image: url('/Arcana27-04/img/pexels-adesh-seethala-6698193.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.fondo-tierra{
    background-image: url('/Arcana27-04/img/bosque1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hero-trans{
    background-color: rgba(0, 0, 0, 0.507) !important;
    border-radius: 8px !important;
}

.fonddd{
    background-image: url(/Arcana27-04/img/chaman2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fondo-agua{
    background-image: url('/Arcana27-04/img/agua.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.txt-blk{
    color: black;
}

.card{
    margin: 6px;
    background: #073f504f;
    color: black;
box-shadow: 0 8px 32px 0 rgba(19, 20, 20, 0.37);
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 7px;
border: 1px solid rgba(5, 5, 5, 0.18);
}